- name: copying rabbitmq.repo
  ansible.builtin.copy:
    src: rabbitmq.repo
    dest: /etc/yum.repos.d/rabbitmq.repo
- name: installing rabbitmq
  ansible.builtin.package:
    name: rabbitmq-server
    state: present
- name: enabling rabbitmq and starting
  ansible.builtin.service:
    name: rabbitmq-server
    state: started
    enabled: yes
- name: Create RabbitMQ user and set permissions
  community.rabbitmq.rabbitmq_user:
    user: roboshop
    password: roboshop123
    vhost: /
    configure_priv: .*
    read_priv: .*
    write_priv: .*
    state: present